:root {
  --primay: black;
  --bg-primay: white;

  --primary-color: #845ec2;

  --link: #2a0b0b;
  --spacing: 1rem;
}

p {
  margin: 20px 0;
}

.controls {
  padding: calc(var(--spacing) * 2) 0;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 35px;
  margin: 0 var(--spacing);
  cursor: pointer;
  background: var(--primary-color);
  color: white;
}

.action-button:disabled {
  background: #505050;
  pointer-events: none;
}

.pads-container {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacing) * 2);
}

.pads {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: var(--spacing);
}
